.avatar-profile {
    width: 30rem;
    margin: 10px 50px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    /*margin: 0;*/
}

.avatar-profile .avatar {
    width: 80%;
    height: 80%;
}

.avatar-profile .image {
    width: 100%;
    height: 100%;
    opacity: 0.9;
}

.avatar-profile .title {
    position: absolute;
    bottom: 5rem;
    right: 6.5rem;
    color: cornsilk;
    text-align: end;
}