.about-me {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    width: 40rem;
    line-height: 2.0rem;
}

.about-me .description {
    font-style: oblique;
}

.about-me .heading {
    font-size: 1.5rem;
}

.about-me .resume-contact-info {
    display: flex;
    justify-content: space-around;
}